/* uni.scss 全局变量 */
$uni-color-primary: #409eff;
$uni-color-success: #67c23a;
$uni-color-warning: #e6a23c;
$uni-color-error: #f56c6c;
$uni-color-info: #909399;

$uni-text-color: #303133;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #909399;
$uni-text-color-placeholder: #c0c4cc;

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f5f7fa;

$uni-border-color: #dcdfe6;

$uni-font-size-sm: 24rpx;
$uni-font-size-base: 28rpx;
$uni-font-size-lg: 32rpx;
